body{
    padding: 0;
    margin: 0;
    background-image: url("spaceImg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    position: fixed;
}

.my-div{
    position: absolute;
    transition: 0.2s ease-out;
    height: 100px;
    width: 100px;
}

.my-div img{
    height: 100px;
    width: 100px;
}



